:root {
   --light-grey: rgba(31, 32, 65, 0.25);
   --purple: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   --salad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

* {
   margin: 0;
   font-family: 'Montserrat';
   font-style: normal;
}

body {
   width: 1440px;
   height: 1853px;
}

.logo {
   margin-top: 30px;
   margin-left: 30px;
}

.first-block {
   width: 320px;
   margin-left: 141px;
   margin-top: 50px;
   font-size: 12px;
}

.first-block-field {
   width: 321px;
   height: 636px;
}

.first-block-field-item p {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.first-block-field-item p span:nth-of-type(1) {
   font-weight: 700;
   margin-top: 10px;
}

.first-block-field-item p span:nth-of-type(2) {
   margin-top: 10px;
   margin-right: 3px;
}

.first-block-field-item input {
   width: 320px;
   height: 44px;
   border-radius: 5px;
   margin-bottom: 5px;
   border-color: var(--light-grey);
}

.first-block-field-item select {
   width: 325px;
   height: 50px;
   padding-left: 10px;
   border-radius: 5px;
   border-color: var(--light-grey);
}

.first-block-field-item select:not {
   padding-right: 50px;
}

.first-block-field-item input::placeholder {
   padding-left: 12px;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: var(--light-grey);
}

.first-block-field-item:nth-of-type(5) {
   display: flex;
   justify-content: space-between;
}

.first-block-field-item:nth-of-type(5) div input {
   width: 150px;
   height: 50px;
}